In [1]:
#__author__: Robert Moreno Carrillo
#__Updated at__: 20/07/2021

# Taller TAWS
# Ejercicio de pandas y manipulación de fechas

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd

In [52]:
# Lectura dedataframe
df = pd.read_csv("tweets_sample.csv")

In [53]:
df.head(2)

,created_at,user,followers_count,location,retweet_count,retweeted,userRT,full_text
0,2021-06-28 01:34:38,Retweet21454943,115.0,NaN,14.0,0.0,clementevazce,RT El mejor jugador de Ecuador en los últimos ...
1,2021-06-28 00:55:51,Jeffsh_ec,28.0,NaN,1.0,0.0,NaN,"- Hernan Galindez: ""Perdón por este mensaje pe..."

In [56]:
df.shape

(1000, 8)

In [57]:
df.columns

Index(['created_at', 'user', 'followers_count', 'location', 'retweet_count',
       'retweeted', 'userRT', 'full_text'],
      dtype='object')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_at       974 non-null    object
 1   user             974 non-null    object
 2   followers_count  974 non-null    float64
 3   location         744 non-null    object
 4   retweet_count    974 non-null    float64
 5   retweeted        974 non-null    float64
 6   userRT           649 non-null    object
 7   full_text        974 non-null    object
dtypes: float64(3), object(5)
memory usage: 62.6+ KB

In [67]:
# Borrar valores nulos...
## df.dropna()??
## df = df.dropna(subset = ['full_text'])

## Aplicando lo aprendido

In [4]:
# Remover hashtags del campo full_text

## Trabajando con fechas

In [82]:
# La columna created_at es de tipo datetime?

In [89]:
# Convertir la columna created_at en datetime

In [5]:
# Obtener la cantidad de tweets por día en el dataset usando la columnas created_at

In [ ]:
# descomentar la siguiente celda
dir(df["created_at"].dt)

In [ ]:
# Crear la columna date, con unicamente la fecha del campo created_at(Sin tomar en cuenta la hora)

In [7]:
# Obtener la cantidad de tweets por día en el dataset usando la columna date

In [8]:
# Imprimir la hora

In [11]:
# Uso de cut... para crear categorias a partir de una columna numerica

In [10]:
# Guardar el nuevo dataset en un csv, y un excel
#df.to_csv(...)